.git
.github
node_modules
vendor
public/build
public/hot
bootstrap/ssr
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
docker/data
.env
.env.backup
.env.production
.phpunit.cache
.phpunit.result.cache
*.log
.DS_Store
.idea
.vscode
.zed
